#user-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#user-area span {
    margin: 10px;
}

.room {
    margin: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
}

.room-content {
    margin: 5px 0px 0px 5px;
}